* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black: #000;
  --white: rgb(248, 248, 248);
  --blue-accent: #075299;

  --book-cover-fallback: #89c3f8;

  --header-heights: 2.5rem;
  --border-radius: 22.5px;
}
@font-face {
  font-family: book-text-font;
  src: url(./Assets/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: book-text-font-italic;
  src: url(./Assets/Libre_Baskerville/LibreBaskerville-Italic.ttf);
}
@font-face {
  font-family: book-text-font-bold;
  src: url(./Assets/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}
@font-face {
  font-family: accordion-text-font;
  src: url(./Assets/Helvetica\ Neue\ LT\ 43\ Light\ Extended.ttf);
}
/* ScrollBars */
::-webkit-scrollbar {
  width: 0px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
html{
  background: url(./Assets/book-cover.jpg);
  background-size: cover ;
}
body {
  background-color:rgba(0,0,0,0.5);
  color: var(--black);
  font-size: 16px;
  display: flex;
  justify-content: center;
  position: relative;
}
#main-container{
  width:100%;
  overflow: hidden;
  position: relative;
}
h1,
.h1,
h2,
.h2 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

#accordion-cover,
.containers,
.book-cover {
  height: 100vh;

  transition: transform 0.75s ease-in;
}
#accordion-cover {
  font-family: accordion-text-font;
}
.book-cover {
  background-color: var(--book-cover-fallback);
  background: url(./Assets/book-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.variable-height-class {
  transform: translateY(-100%);
}
.preview-button {
  height: 15%;
  width: 45%;
  max-height: 15vh;
  max-width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content-library,
.accordion-item .accordion-preview,
.accordion-item .accordion-preview:not(.collapsed),
.accordion-item .accordion-button,
.accordion-item .accordion-body {
  background-color: var(--white);
}
.content-library {
  width: 100%;
  height:100%;
  position: relative;
  padding-bottom: 15px;
  overflow: auto;
  background: url(./Assets/book-cover.jpg);
  background-size: cover;
  transition: height 0.75s ease-in;
}
.content-library .go-back {
  width: 100%;
  height:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.accordion {
  border-radius: 22.5px 22.5px 0 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  transition: all 0.25s ease;
}
.accordion-item {
  position: relative;
  overflow: hidden;
}
.accordion-item .accordion-preview,
.accordion-item .accordion-button {
  font-size: 0.75em;
  padding: 1em 1.75em;
}
.accordion-item .accordion-preview {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  color: #212529;
  text-align: left;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
.accordion-preview:not(.collapsed),
.accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.current-chapter .accordion-preview {
  background-color: #cddff0;
  color:var(--blue-accent);
}
.accordion-item .accordion-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0em 1.5em;
}
.accordion-item .accordion-body .chapter-mini-intro {
  font-size: 0.95em;
}

.accordion-item .accordion-body .payment-prompt {
  font-size: 1em;
  text-align: center;
  margin: 0.5em 0em;
}
.accordion-item .accordion-body .payment-gateway {
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 95%;
  height: 150px;
  align-self: center;
}
.accordion-item .accordion-body .login-button {
  margin: 0.5em 0;
  padding: 0.25em;
  background: none;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 3px;
  align-self: center;
}
.corner-ribbon {
  z-index: 10;
  width: 100px;
  font-size: 0.52em;
  background: var(--blue-accent);
  position: absolute;
  top: 10px;
  left: -32.5px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 1px;
  color: var(--white);
  transform: rotate(-45deg);
  overflow: hidden;
}
#main-book {
  font-family: book-text-font;
  height: 100vh;
  width:100%;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in;
}
.slide-main-book-out {
  left: 100%;
}
.slide-main-book-in {
  left: 0;
}
.header,
.footer {
  width: 100%;
  position: absolute;
  padding:15px;
  display: flex;
  justify-content: center;
  transition: 0.75s ease;
  z-index:222;
  background-color: rgb(36, 35, 35);
  align-items: center;
}
.header,
.go-back {
  height: var(--header-heights);
  top: 0px;
}
.header .chapter-title,
.header .return {
  margin-right: auto;
}
.footer {
  transition: 0.75s ease;
  padding: 10px;
  flex-direction: column;
  bottom: 0px;
}
.footer .controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:whitesmoke;
}
.foot-note{
  padding: 1em;
  background-color: whitesmoke;
  position:absolute;
  box-shadow: 0px 0px 20px black;
  transition: all 0.75s ease;
  bottom:0px;
}
.foot-note-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 22px;
  font-weight: bold;
}
.foot-note-content{
  margin-top: 20px;
  overflow: scroll;
  max-height: 30vh;
  min-height: 20vh;
}
.book-content {
  height: 100vh;
  background-color: red;
}
.chapters {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #383b3d;
}
.chapter-content{
  background-color: rgb(228, 226, 226);
  height:100%;
  box-shadow: 0px 0px 20px black;
  overflow-y: auto;
  transform: scale(0.85);
  padding:15px 10px;
  text-align: justify;

  transition: all 0.75s ease;
}
.with-sub-chapters {
  padding: 0;
}

/* Animation classes */
.slide-up{
  transform: translateY(-100%)!important;
}
.slide-down{
  transform: translateY(100%)!important;
}
.rescale{
  transform: scale(1);
  box-shadow: none;
}
@media only screen and (min-width:720px){
  #main-container{
    width:720px;
  }
}