* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --black: #000;
  --white: rgb(248, 248, 248);
  --blue-accent: #075299;

  --book-cover-fallback: #89c3f8;

  --header-heights: 2.5rem;
  --border-radius: 22.5px;
}
@font-face {
  font-family: book-text-font;
  src: url(./Assets/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}
@font-face {
  font-family: book-text-font-italic;
  src: url(./Assets/Libre_Baskerville/LibreBaskerville-Italic.ttf);
}
@font-face {
  font-family: book-text-font-bold;
  src: url(./Assets/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}
@font-face {
  font-family: accordion-text-font;
  src: url(./Assets/Helvetica\ Neue\ LT\ 43\ Light\ Extended.ttf);
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}
body {
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;

  position: relative;
}

h1,
.h1,
h2,
.h2 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.75rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

#accordion-cover,
.containers,
.book-cover {
  height: 100vh;

  transition: transform 0.75s ease-in;
}
#accordion-cover {
  font-family: accordion-text-font;
}
.book-cover {
  background-color: var(--book-cover-fallback);
  background: url(./Assets/book-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.variable-height-class {
  transform: translateY(-100%);
}
.preview-button {
  height: 15%;
  width: 45%;
  max-height: 15vh;
  max-width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content-library,
.accordion-item .accordion-preview,
.accordion-item .accordion-preview:not(.collapsed),
.accordion-item .accordion-button,
.accordion-item .accordion-body {
  background-color: var(--white);
}
.content-library {
  border: 1px solid red;
  height: 100%;
  width: 100%;

  position: relative;
  transition: height 0.75s ease-in;

  overflow: scroll;
}
.go-back i {
  transform: rotate(0deg);
  transition: all 0.5s ease;
}
.fixed i {
  transform: rotate(-180deg);
}
.accordion:not(.inner-accordion) {
  padding-top: var(--header-heights);
}
.accordion-item {
  position: relative;
  overflow: hidden;
}
.accordion-item .accordion-preview,
.accordion-item .accordion-button {
  font-size: 0.75em;
  padding: 1em 1.75em;
}
.accordion-item .accordion-preview {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  color: #212529;
  text-align: left;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
.accordion-preview:not(.collapsed),
.accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.current-chapter .accordion-preview {
  color: var(--blue-accent);
}
.accordion-item .accordion-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0em 1.5em;
}
.accordion-item .accordion-body .chapter-mini-intro {
  font-size: 0.95em;
}

.accordion-item .accordion-body .payment-prompt {
  font-size: 1em;
  text-align: center;
  margin: 0.5em 0em;
}
.accordion-item .accordion-body .payment-gateway {
  border: 1px solid var(--black);
  border-radius: 5px;
  width: 95%;
  height: 150px;
  align-self: center;
}
.accordion-item .accordion-body .login-button {
  margin: 0.5em 0;
  padding: 0.25em;
  background: none;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 3px;
  align-self: center;
}
.corner-ribbon {
  z-index: 10;
  width: 100px;
  font-size: 0.52em;
  background: var(--blue-accent);
  position: absolute;
  top: 10px;
  left: -32.5px;
  text-align: center;
  line-height: 15px;
  letter-spacing: 1px;
  color: var(--white);
  transform: rotate(-45deg);
  overflow: hidden;
}
#main-book {
  font-family: book-text-font;
  z-index: 13;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  transition: all 0.5s ease-in;
}
.book-content {
  transition: all 0.75s ease;
}
.slide-main-book-out {
  left: 100%;
}
.slide-main-book-in {
  left: 0;
}
.header,
.footer,
.go-back {
  z-index: 14;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header,
.go-back {
  padding: 10px;
  height: var(--header-heights);
  background-color: var(--book-cover-fallback);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  top: 0;
}
.header .chapter-title,
.header .return {
  margin-right: auto;
}
.header .return,
.go-back,
.footer .controls > * {
  padding: 0;
  font-size: calc(var(--header-heights) - 1rem);
}
.footer {
  transition: 0.75s ease;
  flex-direction: column;
  top: calc(100vh - var(--header-heights));
  background-color: var(--white);
}
.footer.open {
  top: 50vh;
}
.content-library .go-back {
  top: 100vh;
}
.footer .controls {
  height: var(--header-heights);

  background-color: var(--book-cover-fallback);

  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.controls .arrows {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.book-content {
  height: 100vh;
}
.chapters {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;

  overflow: scroll;
}
.chapters,
.foot-notes {
  padding: calc(var(--header-heights) + 0.5rem) 1.25rem;
  text-align: justify;
  /* word-spacing: 5px; */
  background-color: var(--white);
  line-height: 2rem;
}
.chapters .footnote {
  cursor: pointer;
}
.foot-notes {
  height: 50vh;
  overflow: scroll;
  padding: 1em;
}
.with-sub-chapters {
  padding: 0;
}
