* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}
body {
  /* background-color: red; */
  color: black;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.containers {
  height: 100vh;
}
#accordion-cover {
  height: 100vh;
}
.book-cover {
  background-color: rgb(143, 241, 190);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition: height 0.75s ease-in;
}
.variable-height-class {
  height: 50vh;
}
.content-library {
  background-color: white;
  height: 50vh;
  width: 100vw;
  overflow: scroll;

  transition: height 0.75s ease-in;
}
.accordion-item {
  position: relative;
  overflow: hidden;
}
.accordion-item .accordion-preview {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 1rem 1.75rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  cursor: pointer;
}
.accordion-preview:not(.collapsed) {
  color: #0c63e4;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-item .accordion-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.5em 1.5em;
}
.accordion-item .accordion-body .chapter-mini-intro {
  font-size: 0.95em;
}

.accordion-item .accordion-body .payment-prompt {
  text-align: center;
  margin: 0.5em 0em;
}
.accordion-item .accordion-body .payment-gateway {
  border: 1px solid black;
  width: 95%;
  height: 150px;
  align-self: center;
}
.accordion-item .accordion-body .login-button {
  margin: 0.5em 0;
  padding: 0.25em;
  background: none;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  align-self: center;
}
.corner-ribbon {
  z-index: 10;
  width: 100px;
  font-size: 0.52em;
  background: #e43;
  position: absolute;
  top: 10px;
  left: -32.5px;
  transform-origin: ;
  text-align: center;
  line-height: 15px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  overflow: hidden;
}
#main-book {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  transition: all 0.5s ease-in;
}
.slide-main-book-out {
  left: 100%;
}
.slide-main-book-in {
  left: 0;
}
.header {
  background-color: rgb(143, 195, 241);
  z-index: 100;
  width: 100%;
  height: 7.5vh;
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.header .chapter-title {
  margin-right: auto;
}
.header .return {
  margin-right: auto;
  background: none;
  background-color: #fff;
  border: none;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
}
.book-content {
  height: 100vh;
  overflow: scroll;
}
.chapters {
  padding-top: 7.5vh;
  background-color: #fff;

  border: 1px solid red;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.with-sub-chapters {
  padding-top: 0;
}
